# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive data
*.tfvars

# other sensitive and custome files
env.*.json

10-Terraform/.terraform/*
8-k8s/.DS_Store
.DS_Store